html {
    scroll-padding-top: 95px;
}

h2 {
    font-size: clamp(2.9rem, 3.4vw, 3.4rem);
    color: var(--cta-color-orange);
}
h3 {
    font-size: clamp(2rem, 2.1vw, 2.1rem);
    font-weight: 800;
}
p {
    font-size: clamp(1.3rem, 2.8vw, 2.8rem) !important;
}

header {
    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 100%;
    height: 75px;
    padding: 0 6%;
    z-index: 2;
}

#logo-header {
    height: 100%;
    aspect-ratio: 3/2;

    object-fit: cover;
}

#nav-bar {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;

    width: 50%;

    right: 0;
    bottom: -152%;
    border: 2px solid #f8f3f0;
    border-bottom-left-radius: 25px;

    font-size: 1.6rem;
}
#menu-label {
    display: block;
    height: 42%;
    aspect-ratio: 1;
    background-image: url(../img/icons/menu-sandwich.svg);
    background-size: contain;
}
:has(#menu:checked) #menu-label {
    background-image: url(../img/icons/cruz.svg);
}
:has(#menu:checked) #nav-bar {
    display: flex;
}

#nav-bar * {
    text-decoration: none;
    list-style: none;
    font-weight: 600;
}
#nav-bar > li {
    width: 100%;
}
#nav-bar > li > a {
    display: block;
    width: 100%;
    padding: 2.2% 0;

    text-align: center;
    background-color: var(--background-color);
}
#nav-bar > :nth-child(4) a {
    border-bottom-left-radius: 25px;
}
#nav-bar > li > a:not(.nav-active):hover {
    background-color: var(--text-color-pale-orange);
    border-radius: 0px !important;
}
#nav-bar > :nth-child(4) > a:not(.nav-active):hover {
    border-bottom-left-radius: 25px !important;
}

.nav-active {
    justify-self: center;
    color: var(--cta-color-orange) !important;
}
.nav-active::after {
    content: "";

    display: block;

    width: 100%;
    height: 2px;
    margin-top: 7px;
    border-radius: 100px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}




#container-inicio {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    gap: 0%;
    
    padding: 0% 8%;
}
#container-inicio img {
    grid-row: 1;
    width: clamp(20%, 80vw, 80%);

    aspect-ratio: 2/1;
    object-fit: contain;
}
#text-inicio {
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 4%;

    max-width: 100%;
    height: fit-content;
    text-align: center;
}
#text-inicio h1 {
    margin-bottom: 5%;

    font-size: 2.3rem;
    line-height: calc(2.3rem * 1.2);
}
#text-inicio p {
    margin-bottom: 8%;

    font-size: 1.4rem;
    line-height: calc(1.4rem * 1.3);
}
#text-inicio a {
    all: unset;
    cursor: pointer;
    box-sizing: border-box;

    padding: 3% 6%;
    margin-top: 3%;
    border-radius: 500px;

    font-size: 1.8rem;
    font-weight: 600;
    color: var(--cta-color-orange);
    
    border: 2px solid var(--text-color-white);
    box-shadow: var(--text-color-white) 0px 0px 15px inset, rgba(37, 13, 3, 0.35) 0px 5px 10px;
}




#container-qualidades {
    padding: 0;
}
#container-qualidades > section {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 33%);

    width: 100%;
    max-height: 100vh;
    border-radius: 0px;

    box-shadow: 0px 0px 5px 1px var(--text-color-brown);
}
#container-qualidades > section > :nth-child(2) {
    border: 2px solid var(--text-color-brown) !important;
    border-left: 0px !important;
    border-right: 0px !important;
}
.qualidade-division {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    width: 100%;
    height: 100%;
    gap: 5%;
    padding: 0% 8%;

    text-align: center;
    color: var(--text-color-white);
}
.qualidade-division hr {
    display: none;
}
.qualidade-division img {
    height: 50%;
    aspect-ratio: 1;
}
.qualidade-division > p {
    align-self: center;
    max-width: 80%;
    line-height: calc(1.7rem * 1.2);
}




#container-mais-vendidos {
    display: flex;

    flex-direction: column;
    align-items: center;

    width: 100%;
    height: fit-content;
    min-height: 100dvh;

    padding: 10% 13% 8% 13%;
}

#container-mais-vendidos h2 {
    padding: 0% 0% 10% 0;
}
#mais-vendidos-row {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
    align-items: end;

    width: 100%;
    height: 78%;
    gap:1%;
}
.mais-vendidos-item {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 80%;
    padding: 10%;
    padding-top: 0%;
    border-radius: 7%;

    box-shadow: 0px 3px 8px 0px var(--text-color-brown);
}


.mais-vendidos-item > picture {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    aspect-ratio: 3/2;
    border-radius: 100%;

}
.mais-vendidos-item > picture > img {
    position: absolute;
    bottom: 0;

    width: 62%;
    aspect-ratio: 1;
    border-radius: 100%;
}
.mais-vendidos-item > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 100%;
}
.mais-vendidos-item > div > article {
    max-width: 90%;

    margin-bottom: 12%;
}
.mais-vendidos-item > div > article > h3 {
    font-weight: 800;
    padding-bottom: 2%;
}
.mais-vendidos-item > div > article > p {
    font-weight: 800;
}

.mais-vendidos-item > div > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mais-vendidos-item > div > div > p {
    font-size: 2rem !important;
    font-weight: 600;
}
.mais-vendidos-item > div > div > a {
    all: unset;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4%;
    border-radius: 50%;

    background-color: var(--cta-color-orange);
    box-shadow: 0px 1px 6px 0px var(--text-color-brown);
}
.mais-vendidos-item > div > div > a:active {
    box-shadow: 0px 2px 8px 0px var(--text-color-brown) inset;
}
.mais-vendidos-item > div > div > a > img {
    width: 28px;
}




#container-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: fit-content;
    margin: 0%;
    padding: 0% 0 0 0;
}
#container-sobre > h2 {
    display: block;
    justify-self: center;
    font-size: 3rem;
    color: var(--cta-color-orange);
}
#container-sobre > img {
    align-self: center;

    max-width: 55vw;
    width: 100%;
    margin-left: 0%;
    object-fit: cover;
    aspect-ratio: 1;

    z-index: 0;
}
#container-sobre article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: fit-content;
    padding: 8% 6%;
    gap: 6%;
    
    border-radius: 0 0 0 0;
}

#container-sobre > article > h2 {
    display: block;
    padding-bottom: 5%;
}
#container-sobre > article > h3 {
    max-width: 100%;
    text-align: center;
    font-size: 1.9rem;
    padding-bottom: 10%;
}
#container-sobre > article > p {
    text-align: center;

}




#container-cardapio {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: fit-content;
    padding: 6% 0%;
}
#container-cardapio h2 {
    align-self: center;
    padding-bottom: 12%;
}
#cardapio-itens {
    display: flex;
    align-items: end;
    overflow-x: scroll;

    gap: 0;

    width: 100%;
    height: 100%;
}

.cardapio-item {
    display: flex;
    flex-direction: column;

    min-width: 230px;
    height: 88%;
    padding: 5% 8%;
    gap: 5%;

    border-radius: 0px;

    border: 1px dashed var(--text-color-brown);
    background: var(--text-color-pale-orange);
    box-shadow: unset;
    
    transition: 150ms;
}
.cardapio-item:hover {
    scale: 1;
}
.cardapio-item > picture {
    position: relative;

    display: flex;
    align-items: end;
    align-self: center;
    margin-bottom: 8%;

    width: 90%;
    aspect-ratio: 1;
}
.cardapio-item > picture > img {
    position: absolute;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;

    background-color: var(--background-color-brown);
    border-radius: 100%;
}
.cardapio-item > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 100%;
}
.cardapio-item > div > article {
    max-width: 85%;
    padding-bottom: 3%;
}
.cardapio-item > div > article > h3 {
    font-size: 1.8rem;
    font-weight: 800;
    padding-bottom: 2%;
}
.cardapio-item > div > article > p {
    font-weight: 800;
}

.cardapio-item > div > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8%;
}
.cardapio-item > div > div > p {
    font-size: 1.8rem !important;
    font-weight: 600;
}
.cardapio-item > div > div > a {
    all: unset;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4%;
    border-radius: 50%;

    background-color: var(--cta-color-orange);
    box-shadow: 0px 2px 8px 0px var(--text-color-brown);
}
.cardapio-item > div > div > a:active {
    box-shadow: 0px 2px 8px 0px var(--text-color-brown) inset;
}
.cardapio-item > div > div > a > img {
    width: 28px;
}


footer {
    display: grid;
    grid-template-rows: 80px 80px 20px;
    justify-content: center;
    justify-items: center;

    height: 200px;
    padding: 0% 0%;

    font-size: 1.4rem;
    color: var(--text-color-white);
    background-color: var(--background-color-brown);
}
footer > span {
    grid-row: 3;
}

#logo-footer {
    grid-row: 2;
    height: 85%;
    aspect-ratio: 3/2;

    object-fit: cover;
}

#social-footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: 100%;
    gap: 10%;
    font-weight: 600;
}

#social-footer-section div {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 30%;
    gap: 10px;
}
#social-footer-section div * {
    grid-row: 1;
    height: 100%;
}