html {
    scroll-padding-top: 95px;
}

h2 {
    font-size: clamp(3rem, 4.8vw, 3.8rem);
    color: var(--cta-color-orange);
}
h3 {
    font-size: clamp(1.8rem, 2.3vw, 2.3rem);
    font-weight: 800;
}
p {
    font-size: clamp(1.1rem, 2.2vw, 2.2rem);
}

header {
    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 100%;
    height: 75px;
    padding: 0 6%;
    z-index: 2;
}

#logo-header {
    height: 100%;
    aspect-ratio: 3/2;

    object-fit: cover;
}

#nav-bar {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;

    width: 50%;

    right: 0;
    bottom: -200%;
    border: 2px solid #f8f3f0;
    border-top: 0;
    border-bottom-left-radius: 25px;

    font-size: 1.6rem;
}
#menu-label {
    display: block;
    height: 42%;
    aspect-ratio: 1;
    background-image: url(../img/icons/menu-sandwich.svg);
    background-size: contain;
}
:has(#menu:checked) #menu-label {
    background-image: url(../img/icons/cruz.svg);
}
:has(#menu:checked) #nav-bar {
    display: flex;
}

#nav-bar * {
    text-decoration: none;
    list-style: none;
    font-weight: 600;
}
#nav-bar > li {
    width: 100%;
}
#nav-bar > li > a {
    display: block;
    width: 100%;
    padding: 2.2% 0;

    text-align: center;
    background-color: var(--background-color);
}
#nav-bar > :nth-child(4) a {
    border-bottom-left-radius: 25px;
}
#nav-bar > li > a:not(.nav-active):hover {
    background-color: var(--text-color-pale-orange);
    border-radius: 0px !important;
}
#nav-bar > :nth-child(4) > a:not(.nav-active):hover {
    border-bottom-left-radius: 25px !important;
}

.nav-active {
    justify-self: center;
    color: var(--cta-color-orange) !important;
}
.nav-active::after {
    content: "";

    display: block;

    width: 100%;
    height: 2px;
    margin-top: 7px;
    border-radius: 100px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}




#container-inicio {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    gap: 0%;
    
    padding: 0% 8%;
}
#container-inicio img {
    grid-row: 1;
    width: clamp(20%, 80vw, 80%);

    aspect-ratio: 2/1;
    object-fit: contain;
    margin-bottom: 3%;
}
#text-inicio {
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 4%;

    max-width: 100%;
    height: fit-content;
    text-align: center;
}
#text-inicio h1 {
    margin-bottom: 5%;
    line-height: calc(2.3rem * 1.2);
}
#text-inicio p {
    margin-bottom: 5%;

    line-height: calc(1.4rem * 1.3);
}
#text-inicio a {
    all: unset;
    cursor: pointer;
    box-sizing: border-box;

    padding: 3% 6%;
    margin-top: 3%;
    border-radius: 500px;

    font-size: 1.8rem;
    font-weight: 600;
    color: var(--cta-color-orange);
    
    border: 2px solid var(--text-color-white);
    box-shadow: var(--text-color-white) 0px 0px 15px inset, rgba(37, 13, 3, 0.35) 0px 5px 10px;
}




#container-qualidades {
    width: 100%;
    height: 180px;
    padding: 0 6%;
}
#container-qualidades > section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;

    width: 100%;
    height: 100%;
    border-radius: 20px;

    background-color: var(--background-color-brown);
    box-shadow: 0px 0px 5px 1px var(--text-color-brown);
}
#container-qualidades > section > :nth-child(2) {
    border: 2px solid var(--text-color-brown);
    border-top: 0;
    border-bottom: 0;
}
.qualidade-division {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;
    gap: 13%;
    padding: 8% 13%;
}
.qualidade-division img {
    align-self: center;
    height: 28%;
    max-width: 75px;
    aspect-ratio: 1;
}
.qualidade-division > p {
    align-self: center;
    max-width: 80%;
    line-height: calc(1.8rem * 1.2);
    color: var(--text-color-white);
    font-weight: 600;
    text-align: center;
}




#container-mais-vendidos {
    width: 100%;
    height: fit-content;

    padding: 5% 4%;
}
#container-mais-vendidos h2 {
    text-align: center;
    
    padding: 0 0 10% 0;
}

#mais-vendidos-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;

    width: 100%;
    height: fit-content;
    gap: 0%;
}
.mais-vendidos-item {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: fit-content;
    padding: 5% 10% 15% 10%;
    gap: 0%;

    border-radius: 0px;

    background: var(--text-color-pale-orange);
    border: 1px dashed var(--background-color-brown);
    box-shadow: unset;
    
    transition: 150ms;
}
.mais-vendidos-item:hover {
    scale: 1.05;
}

.mais-vendidos-item > picture {
    position: relative;

    display: flex;
    align-items: end;
    align-self: center;
    margin-bottom: 9%;

    width: 75%;
    aspect-ratio: 3/2;
}
.mais-vendidos-item > picture > img {
    position: absolute;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;

    background-color: var(--background-color-brown);
    border-radius: 100%;
}
.mais-vendidos-item > div {
    display: flex;
    flex-direction: column;
    height: 55.3%;
}
.mais-vendidos-item > div > article{
    margin-bottom: 15%;
}
.mais-vendidos-item > div > article > h3 {
    padding-bottom: 3%;
}
.mais-vendidos-item > div > article > p {
    font-size: clamp(1rem, 1.8vw, 1.6rem);
    font-weight: 500;
}

.mais-vendidos-item > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}
.mais-vendidos-item > div > div > p {
    font-size: clamp(1.8rem, 2.2vw, 2.2rem);
    font-weight: 600;
}
.mais-vendidos-item > div > div > a {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;

    width: clamp(40px, 6vw, 60px);
    aspect-ratio: 1;
    border-radius: 50%;

    background-color: var(--cta-color-orange);
    box-shadow: 0px 2px 8px 0px var(--text-color-brown);
}
.mais-vendidos-item > div > div > a:active {
    box-shadow: 0px 2px 8px 0px var(--text-color-brown) inset;
}
.mais-vendidos-item > div > div > a > img {
    width: 50%;
}




#container-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: fit-content;
    margin: 0%;
    padding: 0;
}
#container-sobre > h2 {
    display: block;
    justify-self: center;
    font-size: 3rem;
    color: var(--cta-color-orange);
}
#container-sobre > img {
    align-self: center;

    max-width: 60vw;
    width: 100%;
    aspect-ratio: 3/2;
    margin-left: 0%;
    object-fit: cover;

    z-index: 0;
}
#container-sobre article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: fit-content;
    padding: 4% 6% 7% 6%;
    gap: 0%;
    
    border-radius: 0 0 0 0;
}

#container-sobre > article > h2 {
    padding-bottom: 2%;
}
#container-sobre > article > h3 {
    max-width: 100%;
    text-align: center;
    padding-bottom: 4%;
}
#container-sobre > article > p {
    text-align: center;
}




#container-cardapio {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: fit-content;
    padding: 2% 0%;
}
#container-cardapio h2 {
    align-self: center;
    padding-bottom: 7%;
}
#cardapio-itens {
    display: flex;
    align-items: end;
    overflow-x: scroll;

    gap: 0;

    width: 100%;
    height: 100%;
}

.cardapio-item {
    display: flex;
    flex-direction: column;

    min-width: 240px;
    height: 88%;
    padding: 0% 3% 3% 3%;
    gap: 5%;

    border-radius: 0px;

    border: 1px dashed var(--text-color-brown);
    background: var(--text-color-pale-orange);
    box-shadow: unset;
    
    transition: 150ms;
}
.cardapio-item:hover {
    scale: 1;
}
.cardapio-item > picture {
    position: relative;

    display: flex;
    align-items: end;
    justify-content: center;
    align-self: center;
    margin-bottom: 8%;

    width: 90% !important;
    height: unset;
    aspect-ratio: 1 !important;
}
.cardapio-item > picture > img {
    position: unset;
    width: 92%;
    aspect-ratio: 1;
    object-fit: cover;

    background-color: var(--background-color-brown);
    border-radius: 100%;
}
.cardapio-item > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 100%;
}
.cardapio-item > div > article {
    max-width: 85%;
    padding-bottom: 3%;
}
.cardapio-item > div > article > h3 {
    font-size: 1.8rem;
    font-weight: 800;
    padding-bottom: 2%;
}
.cardapio-item > div > article > p {
    font-size: 1.2rem;
    font-weight: 800;
}

.cardapio-item > div > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8%;
}
.cardapio-item > div > div > p {
    font-size: 1.8rem;
    font-weight: 600;
}
.cardapio-item > div > div > a {
    all: unset;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4%;
    border-radius: 50%;

    background-color: var(--cta-color-orange);
    box-shadow: 0px 2px 8px 0px var(--text-color-brown);
}
.cardapio-item > div > div > a:active {
    box-shadow: 0px 2px 8px 0px var(--text-color-brown) inset;
}
.cardapio-item > div > div > a > img {
    width: 28px;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 110px;
    padding: 1% 8%;

    font-size: 1.6rem;
    color: var(--text-color-white);
    background-color: var(--background-color-brown);
}

#logo-footer {
    height: 100%;
    aspect-ratio: 3/2;

    object-fit: cover;
}

#social-footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: 100%;
    gap: 15%;
    font-weight: 600;
}

#social-links-container {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 30%;
    gap: 10px;
}
#social-links-container * {
    height: 100%;
}